.highlight .dark-pre { background-color: #24292e }
.highlight .dark-hll { background-color: #24292e }
.highlight .dark-c { color: #999999; font-style: italic } /* Comment */
.highlight .dark-err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .dark-g { color: #d0d0d0 } /* Generic */
.highlight .dark-k { color: #6ab825; font-weight: bold } /* Keyword */
.highlight .dark-l { color: #d0d0d0 } /* Literal */
.highlight .dark-n { color: #d0d0d0 } /* Name */
.highlight .dark-o { color: #d0d0d0 } /* Operator */
.highlight .dark-x { color: #d0d0d0 } /* Other */
.highlight .dark-p { color: #d0d0d0 } /* Punctuation */
.highlight .dark-cm { color: #999999; font-style: italic } /* Comment.Multiline */
.highlight .dark-cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.highlight .dark-c1 { color: #999999; font-style: italic } /* Comment.Single */
.highlight .dark-cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.highlight .dark-gd { color: #d22323 } /* Generic.Deleted */
.highlight .dark-ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.highlight .dark-gr { color: #d22323 } /* Generic.Error */
.highlight .dark-gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.highlight .dark-gi { color: #589819 } /* Generic.Inserted */
.highlight .dark-go { color: #cccccc } /* Generic.Output */
.highlight .dark-gp { color: #aaaaaa } /* Generic.Prompt */
.highlight .dark-gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.highlight .dark-gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.highlight .dark-gt { color: #d22323 } /* Generic.Traceback */
.highlight .dark-kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.highlight .dark-kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.highlight .dark-kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.highlight .dark-kp { color: #6ab825 } /* Keyword.Pseudo */
.highlight .dark-kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.highlight .dark-kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.highlight .dark-ld { color: #d0d0d0 } /* Literal.Date */
.highlight .dark-m { color: #3677a9 } /* Literal.Number */
.highlight .dark-s { color: #ed9d13 } /* Literal.String */
.highlight .dark-na { color: #bbbbbb } /* Name.Attribute */
.highlight .dark-nb { color: #24909d } /* Name.Builtin */
.highlight .dark-nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.highlight .dark-no { color: #40ffff } /* Name.Constant */
.highlight .dark-nd { color: #ffa500 } /* Name.Decorator */
.highlight .dark-ni { color: #d0d0d0 } /* Name.Entity */
.highlight .dark-ne { color: #bbbbbb } /* Name.Exception */
.highlight .dark-nf { color: #447fcf } /* Name.Function */
.highlight .dark-nl { color: #d0d0d0 } /* Name.Label */
.highlight .dark-nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.highlight .dark-nx { color: #d0d0d0 } /* Name.Other */
.highlight .dark-py { color: #d0d0d0 } /* Name.Property */
.highlight .dark-nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.highlight .dark-nv { color: #40ffff } /* Name.Variable */
.highlight .dark-ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.highlight .dark-w { color: #666666 } /* Text.Whitespace */
.highlight .dark-mf { color: #3677a9 } /* Literal.Number.Float */
.highlight .dark-mh { color: #3677a9 } /* Literal.Number.Hex */
.highlight .dark-mi { color: #3677a9 } /* Literal.Number.Integer */
.highlight .dark-mo { color: #3677a9 } /* Literal.Number.Oct */
.highlight .dark-sb { color: #ed9d13 } /* Literal.String.Backtick */
.highlight .dark-sc { color: #ed9d13 } /* Literal.String.Char */
.highlight .dark-sd { color: #ed9d13 } /* Literal.String.Doc */
.highlight .dark-s2 { color: #ed9d13 } /* Literal.String.Double */
.highlight .dark-se { color: #ed9d13 } /* Literal.String.Escape */
.highlight .dark-sh { color: #ed9d13 } /* Literal.String.Heredoc */
.highlight .dark-si { color: #ed9d13 } /* Literal.String.Interpol */
.highlight .dark-sx { color: #ffa500 } /* Literal.String.Other */
.highlight .dark-sr { color: #ed9d13 } /* Literal.String.Regex */
.highlight .dark-s1 { color: #ed9d13 } /* Literal.String.Single */
.highlight .dark-ss { color: #ed9d13 } /* Literal.String.Symbol */
.highlight .dark-bp { color: #24909d } /* Name.Builtin.Pseudo */
.highlight .dark-vc { color: #40ffff } /* Name.Variable.Class */
.highlight .dark-vg { color: #40ffff } /* Name.Variable.Global */
.highlight .dark-vi { color: #40ffff } /* Name.Variable.Instance */
.highlight .dark-il { color: #3677a9 } /* Literal.Number.Integer.Long */